﻿@using eConsentWeb.Common

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        @{var role = (UserRole)Session["UserRole"];}

        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            @if (role == UserRole.Admin)
            {
                <li class="heading">
                    <h3 class="uppercase">MANAGEMENT</h3>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "UserManagement")" class="nav-link nav-toggle">
                        <i class="icon-users"></i>
                        <span class="title">User Management</span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a href="@Url.Action("Index", "Product")" class="nav-link nav-toggle">
                            <i class="icon-social-dropbox"></i>
                            <span class="title">Product Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Customer")" class="nav-link nav-toggle">
                            <i class="fa fa-side-menu fa-stethoscope"></i>
                            <span class="title">Customer Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Approval", "Customer")" class="nav-link nav-toggle">
                            <i class="fa fa-side-menu fa-check"></i>
                            <span class="title">Customer Approval</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Channel")" class="nav-link nav-toggle">
                            <i class="fa fa-side-menu fa-medkit"></i>
                            <span class="title">Channel Management</span>
                        </a>
                    </li>*@
            }
            <li class="heading">
                <h3 class="uppercase">TRANSACTION</h3>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Consent")" class="nav-link nav-toggle">
                    <i class="fa fa-side-menu fa-paper-plane-o"></i>
                    <span class="title">Consent</span>
                </a>
            </li>

            @if (
                role == UserRole.Admin ||
                role == UserRole.AdminEntry ||
                role == UserRole.AdminSystem
                )
            {
                <li class="heading">
                    <h3 class="uppercase">Campaign Setup</h3>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Campaign")" class="nav-link nav-toggle">
                        <i class="fa fa-side-menu fa fa-bullhorn"></i>
                        <span class="title">Campaign List</span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a href="@Url.Action("AdvancedSearch", "Campaign")" class="nav-link nav-toggle">
                            <i class="fa fa-side-menu fa fa-search-plus"></i>
                            <span class="title">Advanced Search</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("GetCampaignID", "Campaign")" class="nav-link nav-toggle">
                            <i class="fa fa-side-menu fa fa-plus"></i>
                            <span class="title">New Campaign</span>
                        </a>
                    </li>*@
            }
        </ul>
    </div>
</div>