﻿@using eConsentWeb.Common
@model eConsentWeb.Models.ConsentDetailsViewModel

@{
    ViewBag.Title = "eConsent Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-paper-plane-o font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">eConsent details</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.MSConsent.doctorCode)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MSConsent.doctorCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MSConsent.doctor)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MSConsent.doctor)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MSConsent.specialty)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MSConsent.specialty)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MSConsent.consentLevel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MSConsent.consentLevel)
                        </dd>

                        <br />

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.str)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.str)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.gender)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.gender)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.KOLstatus)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.KOLstatus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.province)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.province)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.city)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.city)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.mainPractice)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.mainPractice)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.practice1)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.practice1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.practice2)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.practice2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HCPProfile.MLDstatus)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HCPProfile.MLDstatus)
                        </dd>
                    </dl>

                    @{
                        var icon = Model.TRConsentList[0].optStatus == "Opted In" ? "icon-like" : "icon-dislike";
                        var boxClass = Model.TRConsentList[0].optStatus == "Opted In" ? "green" : "red";

                    }
                    <div class="portlet box @boxClass hide">
                        <div class="portlet-title">
                            <div class="caption col-md-12">
                                <i class="@icon"></i>Latest Consent

                                <span class="label label-info pull-right uppercase bold">@Model.TRConsentList[0].optStatus</span>
                            </div>
                        </div>
                        <div class="portlet-body pad15T">
                            <div class="form-horizontal">
                               <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label class="control-label col-md-4"><b>Series ID</b></label>
                                           <div class="col-md-8 pad7T">
                                               @Model.TRConsentList[0].seriesID
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <label class="control-label col-md-4"><b>Consent Channel</b></label>
                                           <div class="col-md-8 pad7T">
                                               @Model.TRConsentList[0].consentChannels
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label class="control-label col-md-4"><b>Consent Details</b></label>
                                           <div class="col-md-8 pad7T">
                                               @Model.TRConsentList[0].consentDetails
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <label class="control-label col-md-4"><b>Consent Date</b></label>
                                           <div class="col-md-8 pad7T">
                                               @Model.TRConsentList[0].consentDate
                                           </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>

                    @if (((UserRole)Session["UserRole"]) != UserRole.AdminEntry && ((UserRole)Session["UserRole"]) != UserRole.AdminSystem)
                    {
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list"></i>Consent Files
                                </div>
                            </div>
                            <div class="portlet-body pad15T">
                                <table class="table table-striped table-bordered table-hover dataTable" id="consent-trx">
                                    <thead>
                                        <tr>
                                            <th>
                                                Series ID
                                            </th>
                                            <th>
                                                Consent Channel
                                            </th>
                                            <th>
                                                Consent Details
                                            </th>
                                            <th>
                                                Opt Status
                                            </th>
                                            <th>
                                                Consent Date
                                            </th>
                                            @if (((UserRole)Session["UserRole"]) == UserRole.Admin)
                                            {
                                                <th style="min-width: 50px">
                                                    PDF
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.TRConsentList)
                                        {
                                            var cssClass = item.optStatus == "Opted In" ? "success" : "danger";
                                            <tr class="@cssClass">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.seriesID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.consentChannels)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.consentDetails)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.optStatus)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.consentDate)
                                                </td>

                                                @if (((UserRole)Session["UserRole"]) == UserRole.Admin)
                                                {
                                                    <td class="text-center">
                                                        <a href="@Url.Action("ViewFile", "Consent", new { id = item.consentID })" target="_blank" title="See PDF" class="btn yellow btn-xs btn-edit">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                        </a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    <p>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn default mrg15L" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
           
        });
    </script>
}