﻿@using eConsentWeb.Common
@model eConsentWeb.MS_User

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-user-unfollow font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Delete User (@Model.USERNAME - @Model.FULLNAME)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="dv-alert"></div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.USERNAME)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USERNAME)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FULLNAME)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FULLNAME)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ROLE)
                        </dt>

                        <dd>
                            @UserHelper.GetUserRole(Model.ROLE)
                        </dd>
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.EMAIL)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMAIL)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.STATUS)
                        </dt>

                        <dd>
                            @if (Model.STATUS == 0)
                            {
                                <span class="label label-danger"> Inactive </span>
                            }
                            else
                            {
                                <span class="label label-success"> Active </span>
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CREATEDDATE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CREATEDDATE)
                        </dd>

                        <dt>
                            Created By
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USER2.USERNAME)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            @*<input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")*@
                            <div class="col-md-offset-2 col-md-10">
                                @*<input type="submit" value="Create" class="btn btn-default" />*@
                                <button type="submit" class="btn btn-danger" id="btn-save">
                                    <i class="fa fa-trash-o"></i>
                                    Delete
                                </button>
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
