﻿@model eConsentWeb.MS_User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-user-following font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Edit User (@Model.username - @Model.fullname)</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="dv-alert"></div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                         
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.password)
                            @Html.HiddenFor(model => model.createdBy)

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.role, new List<SelectListItem>(ViewBag.Roles), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelRequiredFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.status, new List<SelectListItem>(ViewBag.Statuses), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Created By", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 pad-top-7">
                                    @Html.DisplayFor(model => model.MS_User2.username)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Created Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 pad-top-7">
                                    @Html.DisplayFor(model => model.createdDate)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("IsReset", "Reset Password?", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="padding-top: 7px;">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        (Check if Reset Password)
                                        @*<input type="checkbox" name="IsReset">*@
                                        @Html.CheckBox("IsReset", false)
                                        <span></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (ViewBag.Error != null && ViewBag.Error != "")
                                        {
                                            <div class='alert alert-danger text-center' role='alert'>
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <b>@ViewBag.Error</b>
                                            </div>
                                        }

                                        @if (ViewBag.Success != null && ViewBag.Success != "")
                                        {
                                            <div class='alert alert-success text-center' role='alert'>
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <b>@ViewBag.Success</b>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                                        <button type="submit" class="btn btn-success" id="btn-save">
                                            <i class="fa fa-check"></i>
                                            Save Changes
                                        </button>
                                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn default" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
