﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Page Not Permitted</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    @Styles.Render("~/CSS/main")
    @Styles.Render("~/CSS/layout")

    <link href="~/Assets/pages/css/error.min.css" rel="stylesheet" />
</head>
<body class="page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number font-red"> <i class="icon-ban"></i> </div>
            <div class="details">
                <h3>Oops! You're not permitted.</h3>
                <p>
                    We can not show the page that not permitted for you.
                    <br />
                    <div class="input-group input-medium">

                        <a class="btn red btn-outline" onclick="history.back(-1)"> Back to Previous Page </a>

                    </div>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
