﻿@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    @*<div class="page-head">
        <div class="page-title">
            <h1>
                Change Password</b>
                <small>change your old password here</small>
            </h1>
        </div>
    </div>
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">Change Password</span>
        </li>
    </ul>*@
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-lock font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Change Password Form</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="dv-alert"></div>
                    @using (Html.BeginForm("ChangePassword", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Old Password
                                        </label>
                                        <div class="col-md-4">
                                            @*<input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old Password">*@
                                            @Html.Password("oldPassword", null, new { @class = "form-control" })
                                            @Html.ValidationMessage("oldPassword", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            New Password
                                        </label>
                                        <div class="col-md-4">
                                            @*<input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password">*@
                                            @Html.Password("newPassword", null, new { @class = "form-control" })
                                            @Html.ValidationMessage("newPassword", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Confirm Password
                                        </label>
                                        <div class="col-md-4">
                                            @*<input type="password" class="form-control" id="confirmPass" name="confirmPass" placeholder="Confirm Password">*@
                                            @Html.Password("confirmPass", null, new { @class = "form-control" })
                                            @Html.ValidationMessage("confirmPass", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (ViewBag.Error != null && ViewBag.Error != "")
                                    {
                                        <div class='alert alert-danger text-center' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            <b>@ViewBag.Error</b>
                                        </div>
                                    }

                                    @if (ViewBag.Success != null && ViewBag.Success != "")
                                    {
                                        <div class='alert alert-success text-center' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            <b>@ViewBag.Success</b>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <button type="submit" class="btn green button-submit" id="btn-save">
                                        <i class="fa fa-check"></i>
                                        Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
