﻿@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Login - eConsent</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    @Styles.Render("~/CSS/main")
    @Styles.Render("~/CSS/layout")

    <link href="~/Assets/pages/css/login.min.css" rel="stylesheet" />

    <style>
        .help-block {
            display: none !important;
        }
    </style>

    @Scripts.Render("~/JS/main")
</head>
<body class="login bg-blue-dark">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="~/Assets/pages/img/logo-eConsent.png" alt="" height="35" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @*<form class="login-form" id="login-form" action="<?= base_url('Exam/check_login'); ?>" method="post">*@
        @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "login-form", @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide error-empty" role="alert">
                <span class="close" data-dismiss="alert" type="button"></span>
                <span> Please insert your Username and Password </span>
            </div>

            if (ViewBag.Error != null && ViewBag.Error != "")
            {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" type="button"></button>
                    <span> @ViewBag.Error </span>
                </div>
            }

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user font-green fa-fw" style="margin-top: 14px"></i>
                    <input class="form-control" type="text" autocomplete="off" placeholder="Username" name="username" id="username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-group">
                    <div class="input-icon">
                        <i class="fa fa-lock font-green fa-fw" style="margin-top: 14px; z-index: 999"></i>
                        <input class="form-control" type="password" autocomplete="off" placeholder="Password" name="password" id="password">
                    </div>
                    <span class="input-group-btn">
                        <button id="btnpass" class="btn btn-success" type="button" style="height: 43px">
                            <i class="glyphicon glyphicon-eye-open fa-fw"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase btn-block">
                    Login
                    <!-- <i class="icon-paper-plane"></i>  -->
                </button>
            </div>
        }
        @*</form>*@
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3 class="font-green">Forget your Password?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright font-white"> &copy; @DateTime.Now.Year Sanofi eConsent </div>

    @Scripts.Render("~/JS/jqueryval")

    <script src="~/Assets/pages/scripts/login.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#username").focus();
        });
        $("#btnpass").click(function () {
            var x = document.getElementById("password");
            if (x.type == "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

            $(this).find(".glyphicon").toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
        });
    </script>
</body>
</html>

