﻿<div id="modal-emailchannel" class="modal " data-width="800">

    

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add Email Channel</h4>
        </div>
        <div class="modal-body">

           
                    @using (Html.BeginForm("CreateEmailChannel", "Campaign", FormMethod.Post, new { id = "formsubmitMail", @class = "form-horizontal", @autocomplete = "off" }))
                    {
                            <table class="table table-striped table-checkable table-bordered" id="email-list-add">
                                <thead>
                                    <tr>
                                        <th class="table-checkboxmail select-checkbox">
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" id="select_allmail" name="select_allmail" value="1" class="group-checkable" data-set="#email-list .checkboxes" />
                                                <input type="hidden" id="idcampaignmail" name="campaignId" />

                                                <span></span>
                                            </label>
                                        </th>

                                        <th>
                                            Topic ID
                                        </th>
                                        <th>
                                            Topic
                                        </th>
                                        <th>
                                            Sent Date
                                        </th>
                                        <th>
                                            Source
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                      
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    @*<button type="submit" class="btn green">Submit</button>*@
                                    <button type="submit" id="btnsubmitmail" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Data" class="btn green mt-ladda-btn ladda-button" data-style="slide-left">
                                        <span class="ladda-label">Submit</span>
                                    </button>
                                    <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    }
                   

           

        </div>
        <div class="modal-footer">

        </div>
    </div>
    
</div>

<style>
    table tr {
        cursor: pointer;
    }
</style>

<script>
    function LoadEmailChannel() {
        //document.getElementById("select_allmail").checked = false;
        var idcampaign = $("#txt-campaign-id").val();
        $("#idcampaignmail").val(idcampaign);
        var rows_selected = [];
        var url = "@Url.Action("LoadEmailDataTableV2", "Campaign")/" + idcampaign;
        var tableEmail = $("#email-list-add").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "destroy": true,
            "filter": true,
            'checkboxes': {
                'selectRow': true
            },
            select: {
                style: 'multi'
            },
            "ajax": {
                url: url,
                type: "POST",
                datatype: "json",
            },
            "columns": [
                { "data": "WebinarID", "name": "WebinarID", "autoWidth": true, "orderable": false, className: 'select-checkbox' },
                { "data": "WebinarID", "name": "WebinarID", "autoWidth": true, "orderable": false },
                { "data": "Topic", "name": "Topic", "autoWidth": true },
                { "data": "EventDate", "name": "EventDate", "autoWidth": true },
                { "data": "Source", "name": "Source", "autoWidth": true }
            ],
            rowCallback: function (row, data, full, meta, index) {
                // convert EventDate to dd/mm/yyyy
                if (data["EventDate"]) {
                    var today = eval(data["EventDate"].replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();
                    date = dd + '/' + mm + '/' + yyyy;
                    $('td ', row).eq(3).html(date);
                }
            },
            initComplete: function () {
                tableEmail.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();

                    console.log(rowIdx + ": " + data.WebinarID + "|" + data.isChecked);
                    var row = $(this.node());
                    if (data.isChecked == true) {
                        $('td', row).eq(0).html('');
                        tableEmail.rows(row).select();
                    } else {
                        $('td', row).eq(0).html('');
                    }
                });
            }
        });

        // select all event
        tableEmail.on("click", "th.select-checkbox, #select_allmail", function () {
            if ($("th.select-checkbox").hasClass("selected")) {
                tableEmail.rows().deselect();
                $("th.select-checkbox").removeClass("selected");
                $("#select_allmail").prop("checked", false);
            } else {
                tableEmail.rows().select();
                $("th.select-checkbox").addClass("selected");
                $("#select_allmail").prop("checked", true);
            }
        }).on("select deselect", function () {
            ("Some selection or deselection going on")
            if (tableEmail.rows({
                selected: true
            }).count() !== tableEmail.rows().count()) {
                $("th.select-checkbox").removeClass("selected");
                $("#select_allmail").prop("checked", false);
            } else {
                $("th.select-checkbox").addClass("selected");
                $("#select_allmail").prop("checked", true);
            }
        });

        $('#btnsubmitmail').click(function () {

            var form = $("#formsubmitMail");

            tableEmail.rows({ selected: true }).every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.data();

                console.log(data);

                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'ids[]')
                        .val(data["WebinarID"])
                );
            });

            $.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                data: form.serialize(),
                async: false,
                success: function (response) {
                    console.log(response);
                    if (response.success != false) {
                        location.reload(0)

                    }
                    else {
                        alert(response.msg);
                    }

                },
                error: function (data, status, xhr) {
                    console.log(data + "---" + xhr);
                }

            })

            return false;
        });
    }
</script>