﻿@model eConsentWeb.Models.CampaignModel

@*<div class="portlet light bordered tasks-widget">
    <div class="portlet-title">
        <div class="caption caption-md">

            <span class="caption-helper font-blue-madison bold uppercase">Email Campaign</span>

        </div>
        <div class="inputs">
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    
                    <a href="#modal-emailchannel" data-toggle="modal" onclick=" LoadEmailChannel();" title="Add" id="addwebinarchannel" class="btn sbold green-sharp">Browse</a>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet-body">
        <div class="task-content">
            <ul class="feeds"  id="email-content">

            </ul>


        </div>

    </div>
</div>*@


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-envelope-o"></i>Email HO
        </div>
        <div class="actions">
            <a href="#modal-emailchannel" data-toggle="modal" onclick="LoadEmailChannel();" title="Add" id="addwebinarchannel" class="btn default">
                <i class="fa fa-search"></i>
                Browse
            </a>
        </div>
    </div>
    <div class="portlet-body pad15T">
        <table class="table table-striped table-bordered table-hover dataTable" id="channel-email">
            <thead>
                <tr>
                    <th>
                        Email ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Sent Date
                    </th>
                    <th>
                        Source
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Emails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WebinarID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    

    function LoadEmail(id) {

        //list email campaign by campaign ID
        var url = "@Url.Action("LoadEmailCampaign", "Campaign")/"+id;
        

        $.ajax({
            url: url,
            method: 'GET',
            async: true,
           
            success: function (response) {
                var div1 = "";
                if (response.status == true) {
                   
                    console.log(response.data.length);

                    console.log(response.data);
                    response.data.forEach(function (d) {
                        div1 += "<li>" + d.Topic + "</li>";
                    });

                    $("#email-content").html(div1);


                } else {
                    alert("Sory something worng ");
                }

            },
            error: function (data, status, xhr) {
                
                console.log(data + "---" + xhr);

            }
        });
        return false;


    }


    
</script>