﻿<div id="modal-webinarchannel" class="modal " data-width="800">

    @*<div class="modal-dialog modal-lg">*@

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add Webinar Channel</h4>
        </div>
        <div class="modal-body">


            @using (Html.BeginForm("CreateWebinarChannel", "Campaign", FormMethod.Post, new { id = "formsubmitwebinar", @class = "form-horizontal", @autocomplete = "off" }))
            {

                <table class="table table-striped table-checkable table-bordered table-hover" id="webinar-list-add">
                    <thead>
                        <tr>
                            <th class="table-checkbox select-checkbox">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" name="select_all" id="select_all" class="group-checkable" data-set="#webinar-list .checkboxes" />
                                    <input type="hidden" id="campaignId" name="campaignId" />

                                    <span></span>
                                </label>
                            </th>

                            <th>
                                Webinar ID
                            </th>
                            <th>
                                Topic
                            </th>
                            <th>
                                Event Date
                            </th>
                            <th>
                                Source
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            @*<button type="submit" class="btn green">Submit</button>*@
                            <button type="submit" id="btnsubmitwebinar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Data" class="btn green mt-ladda-btn ladda-button" data-style="slide-left">
                                <span class="ladda-label">Submit</span>
                            </button>
                            <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="modal-footer">

        </div>
    </div>

</div>

<script>


    //
    // Updates "Select all" control in a data table
    //
    function updateDataTableSelectAllWebinar(table) {

        var $table = table.table().node();
        var $chkbox_all = $('tbody input[type="checkbox"]', $table);
        var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
        console.log("[$chkbox_checked]",$chkbox_checked);
        var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

        // If none of the checkboxes are checked
        if ($chkbox_checked.length === 0) {
            chkbox_select_all.checked = false;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }

            // If all of the checkboxes are checked
        } else if ($chkbox_checked.length === $chkbox_all.length) {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }

            // If some of the checkboxes are checked
        } else {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = true;
            }
        }
    }
    function LoadWebinarChannel() {
        document.getElementById("select_all").checked = false;
        var id = $("#txt-campaign-id").val();
        var rows_selected = [];

        $("#campaignId").val(id);
        var url = "@Url.Action("LoadWebinarChannel", "Campaign")/"+id;
        var table = $("#webinar-list-add").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "destroy": true,
            "filter": true,
            'checkboxes': {
                'selectRow': true
            },// this is for disable filter (search box)
            "ajax": {
                url: url,
                type: "POST",
                datatype: "json",
            },
            "columns": [
                { "data": "WebinarID", "name": "WebinarID", "autoWidth": true, "orderable": false, "class":"select-checkbox"},
                { "data": "WebinarID", "name": "WebinarID", "autoWidth": true, "orderable": false },
                { "data": "Topic", "name": "Topic", "autoWidth": true },
                { "data": "EventDate", "name": "EventDate", "autoWidth": true },
                { "data": "Source", "name": "Source", "autoWidth": true }
            ],

            "createdRow": function (row, data, index) {
                console.log(data.isChecked);
                if (data.isChecked == "True") {
                    $('td', row).eq(0).html('<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"> '
                        + ' <input type="checkbox"  class="checkboxes" name="ids[]" value=' + data.WebinarID + ' checked="true" />'
                        + '<span></span> '
                        + '</label> '
                    );
                } else {
                    $('td', row).eq(0).html('<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"> '
                        + ' <input type="checkbox" class="checkboxes" name="ids[]" value=' + data.WebinarID + '  />'
                        + '<span></span> '
                        + '</label> '
                    );
                }
            },
            "rowCallback": function (row, data, dataIndex) {
                // Get row ID
                var rowId = data.WebinarID;
                console.log("[ROWID]" + rowId)

                // If row ID is in the list of selected row IDs
                if ($.inArray(rowId, rows_selected) !== -1) {
                    $(row).find('input[type="checkbox"]').prop('checked', true);
                    $(row).addClass('selected');
                    //$(row).find('input[type="checkbox"]').trigger('click');
                }
            },

        });

        // Handle click on checkbox
        $('#webinar-list-add tbody').on('click', 'input[type="checkbox"]', function (e) {
            var $row = $(this).closest('tr');


            // Get row data
            var data = table.row($row).data();

            // Get row ID
            var rowId = data.WebinarID;


            // Determine whether row ID is in the list of selected row IDs
            var index = $.inArray(rowId, rows_selected);


            // If checkbox is checked and row ID is not in list of selected row IDs
            if (this.checked && index === -1) {
                rows_selected.push(rowId);

                // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
            } else if (!this.checked && index !== -1) {
                rows_selected.splice(index, 1);
            }


            if (this.checked) {
                $row.addClass('selected');

            } else {
                $row.removeClass('selected');
            }

            // Update state of "Select all" control
            updateDataTableSelectAllWebinar(table);

            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        // Handle click on table cells with checkboxes
        //$('#email-list-add').on('click', 'tbody td, thead th:first-child', function (e) {
        //    $(this).parent().find('input[type="checkbox"]').trigger('click');
        //});

        // Handle click on "Select all" control
        $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
            if (this.checked) {
                $('#webinar-list-add tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#webinar-list-add tbody input[type="checkbox"]:checked').trigger('click');
            }

            // Prevent click event from propagating to parent
            e.stopPropagation();
        });
        //table.on("click", "th.select-checkbox", function () {
        //    alert("d");

        //    if ($("th.select-checkbox").hasClass("selected")) {
        //        table.rows().deselect();
        //        $("th.select-checkbox").removeClass("selected");
        //    } else {
        //        table.rows().select();
        //        $("th.select-checkbox").addClass("selected");
        //    }
        //}).on("select deselect", function () {
        //    ("Some selection or deselection going on")
        //    if (table.rows({
        //        selected: true
        //    }).count() !== table.rows().count()) {
        //        $("th.select-checkbox").removeClass("selected");
        //    } else {
        //        $("th.select-checkbox").addClass("selected");
        //    }

        //});

        // Handle table draw event
        table.on('draw', function () {
            // Update state of "Select all" control
            updateDataTableSelectAllWebinar(table);
        });


        $('#btnsubmitwebinar').click(function () {

            var form = $("#formsubmitwebinar");
            console.log("[rows_selected]",rows_selected);
            //var $rows_selected = $('#webinar-list-add tbody input[type="checkbox"]:checked')
            //console.log("[$rows_selected]", $rows_selected)

            //// Iterate over all selected checkboxes
            $.each(rows_selected, function (index, rowId) {
                // Create a hidden element
                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'ids2[]')
                        .val(rowId)
                );
            });
            $.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                data: form.serialize(),
                async: false,
                success: function (response) {
                    console.log(response);
                    if (response.success != false) {
                        location.reload(0)

                    }
                    else {
                        alert(response.msg);
                    }

                },
                error: function (data, status, xhr) {
                    console.log(data + "---" + xhr);
                }

            })

            return false;
        });



    }

    //$('#select_all').on('click', function () {
    //    //alert("dasd");
    //    if (this.checked) {
    //        $('.checkboxes').each(function () {
    //            this.checked = true;
    //        });
    //    } else {
    //        $('.checkboxes').each(function () {
    //            this.checked = false;
    //        });
    //    }
    //});


</script>