﻿<div id="modal-webinarchannel" class="modal " data-width="800">

    @*<div class="modal-dialog modal-lg">*@

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add Webinar Channel</h4>
        </div>
        <div class="modal-body">


            @using (Html.BeginForm("CreateWebinarChannel", "Campaign", FormMethod.Post, new { id = "formsubmitwebinar", @class = "form-horizontal", @autocomplete = "off" }))
            {

                <table class="table table-striped table-checkable table-bordered" id="webinar-list-add">
                    <thead>
                        <tr>
                            <th class="table-checkbox select-checkbox">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" name="select_all" id="select_all" class="group-checkable " />
                                    <input type="hidden" id="campaignId" name="campaignId" />

                                    <span></span>
                                </label>
                            </th>

                            <th>
                                Webinar ID
                            </th>
                            <th>
                                Topic
                            </th>
                            <th>
                                Event Date
                            </th>
                            <th>
                                Source
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            @*<button type="submit" class="btn green">Submit</button>*@
                            <button type="submit" id="btnsubmitwebinar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Data" class="btn green mt-ladda-btn ladda-button" data-style="slide-left">
                                <span class="ladda-label">Submit</span>
                            </button>
                            <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="modal-footer">

        </div>
    </div>

</div>

<style>
    table tr {
        cursor: pointer;
    }
</style>

<script>
    function LoadWebinarChannel() {
        document.getElementById("select_all").checked = false;
        var id = $("#txt-campaign-id").val();
        var rows_selected = [];
        var form = $("#formsubmitwebinar");

        $("#campaignId").val(id);
        var url = "@Url.Action("LoadWebinarDataTableV2", "Campaign")/" + id;
        var table = $("#webinar-list-add").DataTable({
            "processing": true, // for show progress bar
            "destroy": true,
            "filter": true,
            'checkboxes': {
                'selectRow': true
            },
            select: {
                style: 'multi'
            },
            "ajax": {
                url: url,
                type: "POST",
                datatype: "json",
            },
            "columns": [
                { "data": "WebinarID", "name": "WebinarID", "autoWidth": true, "orderable": false, className: 'select-checkbox' },
                { "data": "WebinarID", "name": "WebinarID", "autoWidth": true, "orderable": false },
                { "data": "Topic", "name": "Topic", "autoWidth": true },
                { "data": "EventDate", "name": "EventDate", "autoWidth": true },
                { "data": "Source", "name": "Source", "autoWidth": true }
            ],
            rowCallback: function (row, data) {
                // convert EventDate to dd/mm/yyyy
                var today = eval(data["EventDate"].replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();
                date = dd + '/' + mm + '/' + yyyy;
                $('td ', row).eq(3).html(date);
            },
            initComplete: function () {
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();

                    console.log(rowIdx + ": " + data.WebinarID + "|" + data.isChecked);
                    var row = $(this.node());
                    if (data.isChecked == true) {
                        $('td ', row).eq(0).html('');
                        table.rows(rowIdx).select();
                    } else {
                        $('td ', row).eq(0).html('');
                    }
                });
            }
        });

        // select all event
        table.on("click", "th.select-checkbox, #select_all", function () {
            if ($("th.select-checkbox").hasClass("selected")) {
                table.rows().deselect();
                $("th.select-checkbox").removeClass("selected");
                $("#select_all").prop("checked", false);
            } else {
                table.rows().select();
                $("th.select-checkbox").addClass("selected");
                $("#select_all").prop("checked", true);
            }
        }).on("select deselect", function () {
            ("Some selection or deselection going on")
            if (table.rows({
                selected: true
            }).count() !== table.rows().count()) {
                $("th.select-checkbox").removeClass("selected");
                $("#select_all").prop("checked", false);
            } else {
                $("th.select-checkbox").addClass("selected");
                $("#select_all").prop("checked", true);
            }
        });

        $('#btnsubmitwebinar').click(function () {
            table.rows({ selected: true }).every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.data();

                console.log(data);

                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'ids[]')
                        .val(data["WebinarID"])
                );
            });

            $.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                data: form.serialize(),
                async: false,
                success: function (response) {
                    console.log(response);
                    if (response.success != false) {
                        location.reload(0)

                    }
                    else {
                        alert(response.msg);
                    }

                },
                error: function (data, status, xhr) {
                    console.log(data + "---" + xhr);
                }

            })

            return false;
        });
    }

</script>