﻿@model eConsentWeb.Models.CampaignModel

@*<div class="portlet light bordered tasks-widget">
    <div class="portlet-title">
        <div class="caption caption-md">

            <span class="caption-helper font-blue-madison bold uppercase">Webinar Campaign</span>

        </div>
        <div class="inputs">
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <a href="#modal-webinarchannel" data-toggle="modal" onclick=" LoadWebinarChannel();" title="Add" id="addwebinarchannel" class="btn sbold green-sharp">Browse</a>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet-body">
        <div class="task-content" >

            <ul class="feeds" id="webinar-content">

            </ul>

        </div>

    </div>
</div>*@


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-video-camera"></i>Webinar
        </div>
        <div class="actions">
            <a href="#modal-webinarchannel" data-toggle="modal" onclick="LoadWebinarChannel();" title="Add" id="addwebinarchannel" class="btn default">
                <i class="fa fa-search"></i>
                Browse
            </a>
        </div>
    </div>
    <div class="portlet-body pad15T">
        <table class="table table-striped table-bordered table-hover dataTable" id="channel-webinar">
            <thead>
                <tr>
                    <th>
                        Webinar ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Event Date
                    </th>
                    <th>
                        Source
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Webinars)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WebinarID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    

    function LoadWebinar(id) {

        
        var url = "@Url.Action("LoadWebinarCampaign", "Campaign")/"+id;
        

        $.ajax({
            url: url,
            method: 'GET',
            async: true,
           
            success: function (response) {
               
                var count = 0;
               

                var div1 = "";
                if (response.status == true) {
                   
                    console.log(response.data);
                    response.data.forEach(function (d) {
                        div1 += "<li>" + d.Topic + "</li>";
                    });

                    $("#webinar-content").html(div1);
                   

                } else {
                    alert("Sory something worng ");
                }

            },
            error: function (data, status, xhr) {
                //alert(err)
                //alert(@ViewBag.msg);
                //$("#idalert").html('<div id="idalert" class="alert alert-danger">'
                //    + '  <button class="close" data-dismiss="alert" type="button"></button>'
                //    + ' <span>Sory something wrong. Please try again at another time or contact adminsitrator! </span>'
                //    + '  </div>');

                console.log(data + "---" + xhr);

            }
        });
        return false;


    }


    
</script>