﻿@using eConsentWeb.Common
@model eConsentWeb.Models.CampaignModel

@{ ViewBag.Title = "Assign Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-bullhorn font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Assign Campaign</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>

                <div id="dv-alert"></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row" id="form-header">
                            @if (ViewBag.Error != null && ViewBag.Error != "")
                            {
                                <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <strong>Assign Failed!</strong> @ViewBag.Error 
                                        <br />
                                        Please check log for more information.
                                    </div>

                                </div>
                            }
                            

                            <div class="col-md-8">
                                <div class="form-group">

                                    @Html.LabelRequiredFor(model => model.CampaignID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.CampaignID, new { htmlAttributes = new { @class = "form-control", @id = "txt-campaign-id", @readonly = "readonly" } })
                                        
                                        @Html.ValidationMessageFor(model => model.CampaignID, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.CampaignName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.CampaignName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CampaignName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.BusinessUnitID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.BusinessUnitID, new List<SelectListItem>(ViewBag.BusinessUnit), " - Please select a value -", new { @class = "form-control select2" })

                                        @Html.ValidationMessageFor(model => model.BusinessUnitID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.BrandID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.BrandID, new List<SelectListItem>(ViewBag.Brand), new { @class = "form-control select2", @multiple = "", @max_selection = "3" })

                                        @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.StartDate, "Period", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                            <div class="input-icon right">
                                                <i class="fa fa-calendar"></i>
                                                @if (Model.StartDate.HasValue)
                                                {
                                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Start Date", @Value = @Model.StartDate.Value.ToString("yyyy-MM-dd") } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Start Date" } })
                                                }
                                            </div>

                                            <span class="input-group-addon"> to </span>
                                            <div class="input-icon right">
                                                <i class="fa fa-calendar"></i>
                                                @if (Model.EndDate.HasValue)
                                                {
                                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Date", @Value = @Model.EndDate.Value.ToString("yyyy-MM-dd") } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Date" } })
                                                }
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger", @style = "display: block;" })

                                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger", @style = "display: block;" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.TargetAudienceID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.TargetAudienceID, new List<SelectListItem>(ViewBag.TargetAudience), new { @class = "form-control select2", @multiple = "", @maximumSelectionLength = 3 })

                                        @Html.ValidationMessageFor(model => model.TargetAudienceID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Current Campaign with Similiar Name and Selection</label>
                                    <select class="form-control" size="20" id="listCurrentCampaign">
                                    </select>
                                </div>
                            </div>

                        </div>

                        @*<div class="portlet-title">
                                <div class="caption font-green-sharp">

                                    <span class="caption-subject bold uppercase">Channel : </span>
                                    <span class="caption-helper hide"></span>
                                </div>
                            </div>*@
                        
                       
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10 mrg20B">
                                    @if (((UserRole)Session["UserRole"]) == UserRole.AdminSystem || ((UserRole)Session["UserRole"]) == UserRole.Admin)
                                    {
                                        <button type="submit" class="btn btn-success" id="btn-save">
                                            <i class="fa fa-check"></i>
                                            Save Changes
                                        </button>
                                    }

                                    @*<button type="button" class="btn btn-default" id="btn-cancel">

                                            Cancel
                                        </button>*@
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                                </div>
                            </div>
                       
                    
                        <div class="row">
                            <div class="col-md-12">
                                @{ 
                                    if (((UserRole)Session["UserRole"]) == UserRole.AdminEntry || ((UserRole)Session["UserRole"]) == UserRole.AdminSystem || ((UserRole)Session["UserRole"]) == UserRole.Admin)
                                    {
                                        Html.RenderPartial("_Webinar", Model);

                                        Html.RenderPartial("_Email", Model);

                                @*<div class="portlet light bordered tasks-widget">
                                        <div class="portlet-title">
                                            <div class="caption caption-md">

                                                <span class="caption-helper font-blue-madison bold uppercase">Remote Detailing</span>

                                            </div>
                                            <div class="inputs">
                                                <div class="portlet-input input-small input-inline">
                                                    <div class="input-icon right">
                                                        <a href="#" title="Add" class="btn sbold green-sharp">Browse</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="portlet-body">
                                            <div class="task-content" id="rd-content">



                                            </div>

                                        </div>
                                    </div>

                                    <div class="portlet light bordered tasks-widget">
                                        <div class="portlet-title">
                                            <div class="caption caption-md">

                                                <span class="caption-helper font-blue-madison bold uppercase">Rep Tiggered Email</span>

                                            </div>
                                            <div class="inputs">
                                                <div class="portlet-input input-small input-inline">
                                                    <div class="input-icon right">

                                                        <a href="#" title="Add" class="btn sbold green-sharp">Browse</a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="portlet-body">
                                            <div class="task-content" id="rte-content">



                                            </div>

                                        </div>
                                    </div>*@
                                    
                                    }
                                        }
                            </div>


                        </div>


                        @*<div class="form-actions">

                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">

                                    <button type="submit" class="btn btn-success" id="btn-save">
                                        <i class="fa fa-check"></i>
                                        Save Changes
                                    </button>

                                    <button type="button" class="btn btn-default" id="btn-cancel">

                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>*@
                    </div>}
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("_WebinarDataTable");}
@{Html.RenderPartial("_EmailDataTable");}
@section scripts{
    <script>
        $(document).ready(function () {
            var campaignID = $("#txt-campaign-id").val();
            var name = $("#CampaignName").val();
            GetSimiliarCampaignName(name);
            LoadWebinar(campaignID);
            LoadEmail(campaignID);

            $('#CampaignName').on('input', function () {
                GetSimiliarCampaignName($("#CampaignName").val());
            });

            @{
                if (((UserRole)Session["UserRole"]) != UserRole.AdminSystem && ((UserRole)Session["UserRole"]) != UserRole.Admin)
                {
                    <text>

            $('#form-header input, textarea').attr('readonly', 'readonly');
            $('#form-header select').attr('disabled', 'disabled');

                    </text>
                }
            }

        });

        //func list similiar campaign name
        function GetSimiliarCampaignName(name) {

            var url = "@Url.Action("GetSimiliarCampaignName", "Campaign")?name=" + name;
            $.ajax({
            url: url,
            method: 'GET',
            async: true,

            success: function (response) {
                var opt = "";
                if (response.status == true) {

                    console.log(response.data);
                    response.data.forEach(function (d) {
                        opt += "<option>" + d.CampaignName + "</option>";
                    });

                    $("#listCurrentCampaign").html(opt);

                } else {
                    alert("Sory something worng ");
                }
            },
            error: function (data, status, xhr) {
                console.log(data + "---" + xhr);
            }
        });
        return false;

        }


        $("#btn-cancel").click(function () {
            //var id = $("#CampaignID").val();

            var url = "@Url.Action("CancelCampaign", "Campaign")/";
            $.ajax({
                type: "POST",
                url: url,
                async: false,
                success: function (response) {
                    console.log(response);
                    if (response.success != false) {
                        window.location.href = "@Url.Action("Index","Campaign")";
                    }
                    else {
                        alert(response.msg);
                    }
                },
                error: function (data, status, xhr) {
                    console.log(data + "---" + xhr);
                }

            });
        });

    </script>
}