﻿@model eConsentWeb.Models.CampaignDetailViewModel

@{
    ViewBag.Title = "Campaign Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content" id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-file-text-o font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Campaign Details (@Model.Header.CampaignID - @Model.Header.CampaignName)</span>
                    </div>

                    <div class="actions">
                        <div id="campaign-status" style="display:inline-block"></div>

                        <div class="btn-group" style="display:inline-block" data-html2canvas-ignore="true">
                            <a class="btn blue btn-outline btn-circle" href="javascript:;" data-toggle="dropdown" aria-expanded="false" id="btn-actions" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Exporting...">
                                <i class="fa fa-bolt"></i>
                                <span class="hidden-xs"> Actions </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" id="sample_3_tools">
                                <li>
                                    <a data-action="2" class="tool-action" id="export-pdf">
                                        <i class="icon-doc"></i> PDF
                                    </a>
                                </li>
                                <li>
                                    <a data-action="3" class="tool-action" id="export-excel" href="@Url.Action("ExportExcelStatistic", "Campaign", new { @id = Model.Header.CampaignID })" target="_blank">
                                        <i class="icon-paper-clip"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Header.CampaignID)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Header.CampaignID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Header.CampaignName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Header.CampaignName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BusinessUnit.BU)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BusinessUnit.BU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Brands)
                        </dt>
                        @{
                            if (Model?.Brands.Count > 0)
                            {
                                foreach (var b in Model.Brands)
                                {
                                    <dd>
                                        @b.BrandName
                                    </dd>
                                }
                            }
                            else
                            {
                                <dd>-</dd>
                            }
                        }

                        <dt>
                            @Html.DisplayNameFor(model => model.Header.StartDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Header.StartDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Header.EndDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Header.EndDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TargetAudiences)
                        </dt>
                        @{
                            if (Model?.TargetAudiences.Count > 0)
                            {
                                foreach (var ta in Model.TargetAudiences)
                                {
                                    <dd>
                                        @ta.TargetAudience
                                    </dd>
                                }
                            }
                            else
                            {
                                <dd>-</dd>
                            }
                        }

                        <dt>
                            @Html.DisplayNameFor(model => model.Header.CampaignDescription)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Header.CampaignDescription)
                        </dd>

                        <dt>
                            User Created
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Header.User_Updated)
                        </dd>
                    </dl>

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-video-camera"></i>Webinar
                            </div>
                        </div>
                        <div class="portlet-body pad15T">
                            <table class="table table-striped table-bordered table-hover dataTable" id="channel-webinar">
                                <thead>
                                    <tr>
                                        <th>
                                            Webinar ID
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Event Date
                                        </th>
                                        @*<th>
                                                Host Name
                                            </th>*@
                                        <th>
                                            Source
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Webinars)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WebinarID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Topic)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EventDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Source)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.)
                                                </td>*@
                                            <td style="text-align: center; min-width: 100px">
                                                <a href="@Url.Action("ExportChannel", "Campaign", new { @id = item.WebinarID })" title="Download" class="btn green-soft btn-xs export-channel" target="_blank" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-envelope-o"></i>Email HO
                            </div>
                        </div>
                        <div class="portlet-body pad15T">
                            <table class="table table-striped table-bordered table-hover dataTable" id="channel-email">
                                <thead>
                                    <tr>
                                        <th>
                                            Email ID
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Sent Date
                                        </th>
                                        <th>
                                            Source
                                        </th>
                                        @*<th>
                                                Host Name
                                            </th>*@
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Emails)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WebinarID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Topic)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EventDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Source)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.)
                                                </td>*@
                                            <td style="text-align: center; min-width: 100px">
                                                <a href="@Url.Action("ExportChannel", "Campaign", new { @id = item.WebinarID })" title="Download" class="btn green-soft btn-xs export-channel" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/global/plugins/html2pdf/dist/html2pdf.bundle.min.js"></script>

    <script>
        var _tmr;
        $(document).ready(function () {
            var status = renderCampaignStatus("@Model.Header.Status");
            $("#campaign-status").html(status);

            var btnAction = $("#btn-actions");

            $("#export-pdf").click(function () {
                exportPdf();
            });

            function exportPdf() {
                btnAction.button('loading');
                $(".loading").show();

                var pdfFileName = '@Model.Header.CampaignID-@Model.Header.CampaignName-@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")'+'.pdf';
                var element = document.getElementById('content');
                const options = {
                    filename: pdfFileName,
                }

                html2pdf(element, options).then(function () {
                    console.log('done!');
                    btnAction.button('reset');
                    $(".loading").hide();
                });
            }

            $("#export-excel").click(function () {
                btnAction.button('loading');
                $(".loading").show();

                var href = $(this).attr("href");
                var now = Date.now().toString();
                $(this).attr("href", href + "?time=" + now);

                // start timer to wait for cookie
                _tmr = window.setInterval(function () {
                    var _str = 'dlc=' + now;

                    if (document.cookie.indexOf(_str) !== -1) {
                        // hide animation
                        btnAction.button('reset');
                        $(".loading").hide();
                        window.clearInterval(_tmr);
                        btn.attr("href", href);
                    }
                }, 100);

                return true;
            });

            $(".export-channel").click(function () {
                var btn = $(this);

                btn.button('loading');
                $(".loading").show();
                var href = $(this).attr("href");
                var now = Date.now().toString();
                $(this).attr("href", href + "?time=" + now);

                // start timer to wait for cookie
                _tmr = window.setInterval(function () {
                    var _str = 'dlc=' + now;

                    if (document.cookie.indexOf(_str) !== -1) {
                        // hide animation
                        btn.button('reset');
                        $(".loading").hide();
                        window.clearInterval(_tmr);
                        btn.attr("href", href);
                    }
                }, 100);

                return true;
            });
        });
    </script>
}