﻿@using eConsentWeb.Common
@model eConsentWeb.Models.AdvancedSearchRequest

@{
    ViewBag.Title = "Campaign List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-bullhorn font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Campaign List</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">

                                <div class="portlet-title" id="advanced-search-header" style="cursor: pointer;">
                                    <div class="caption">
                                        <i class="fa fa-filter"></i>Advanced Search
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="expand" id="advanced-search-toggle"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body pad15T portlet-collapsed">
                                    @using (Html.BeginForm("Index", "Campaign", FormMethod.Get, new { id = "form-advanced-search", @class = "form-horizontal" }))
                                    {
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Campaign ID</label>
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.i, new { htmlAttributes = new { @class = "form-control", @id = "txt-i" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Campaign Name</label>
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.n, new { htmlAttributes = new { @class = "form-control", @id = "txt-n" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Business Unit</label>
                                                    <div class="col-md-8">
                                                        @Html.ListBoxFor(model => model.bu, new MultiSelectList(ViewBag.BusinessUnit, "Text", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "ddl-bu", @multiple = "" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Brand</label>
                                                    <div class="col-md-8">
                                                        @Html.ListBoxFor(model => model.b, new MultiSelectList(ViewBag.Brand, "Text", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "ddl-b", @multiple = "" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Period</label>
                                                    <div class="col-md-8">
                                                        <div class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                                            @Html.EditorFor(model => model.ps, new { htmlAttributes = new { @class = "form-control", @id = "txt-ps" } })

                                                            <span class="input-group-addon" style="border-radius:0px"> to </span>
                                                            @Html.EditorFor(model => model.pe, new { htmlAttributes = new { @class = "form-control", @id = "txt-pe" } })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Status</label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.s, new SelectList(ViewBag.CampaignStatus, "Value", "Text"), "All", htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "ddl-s" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Channel</label>
                                                    <div class="col-md-8">
                                                        @Html.ListBoxFor(model => model.c, new MultiSelectList(ViewBag.Channel, "Text", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "ddl-c", @multiple = "" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Target Audience</label>
                                                    <div class="col-md-8">
                                                        @Html.ListBoxFor(model => model.ta, new MultiSelectList(ViewBag.TargetAudience, "Text", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "ddl-ta", @multiple = "" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button class="btn" type="button" id="btn-clear">
                                                    @*<i class="fa fa-search"></i>*@
                                                    Clear
                                                </button>
                                                <button class="btn sbold green" type="submit" id="btn-search">
                                                    <i class="fa fa-search"></i>
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                @{
                                    var role = ((UserRole)Session["UserRole"]);
                                    if (role == UserRole.AdminSystem || role == UserRole.Admin)
                                    {
                                        <a class="btn sbold green" id="btn-add" href="@Url.Action("Create", "Campaign")">
                                            <i class="fa fa-plus"></i>
                                            Add New Campaign
                                        </a>
                                    }
                                }
                                

                                @{
                                    var q = HttpUtility.ParseQueryString("");
                                    q.Add("i", Model?.i);
                                    q.Add("n", Model?.n);
                                    q.Add("s", Model?.s);
                                    q.Add("ps", Model?.ps);
                                    q.Add("pe", Model?.pe);

                                    if (Model?.bu != null)
                                    {
                                        foreach (var item in Model?.bu)
                                        {
                                            q.Add("bu", item);
                                        }
                                    }
                                    if (Model?.b != null)
                                    {
                                        foreach (var item in Model?.b)
                                        {
                                            q.Add("b", item);
                                        }
                                    }
                                    if (Model?.c != null)
                                    {
                                        foreach (var item in Model?.c)
                                        {
                                            q.Add("c", item);
                                        }
                                    }
                                    if (Model?.ta != null)
                                    {
                                        foreach (var item in Model?.ta)
                                        {
                                            q.Add("ta", item);
                                        }
                                    }
                                }
                                <a class="btn sbold blue pull-right" id="btn-download" target="_blank" href="@Url.Action("ExportAdvancedSearch", "Campaign")?@q" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Exporting...">
                                    <i class="fa fa-download"></i>
                                    Download Report
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="simple-search-list">
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var _tmr;
        $(document).ready(function () {
            var form = $("#form-advanced-search");
            $("#btn-clear").click(function () {
                $(form).find("input[type=text], textarea").val("");

                $(form).find(".select2").val(null).trigger("change");
            });

            generateSearchResult();

            $("#advanced-search-header").on('click', function (e) {
                if ($(e.target).is('div')) {
                    $("#advanced-search-toggle").click();
                }
            });

            var isAdvSearch = false;
            $(form).find(":text, :file, :checkbox, select, textarea").each(function () {
                isAdvSearch = isAdvSearch || $(this).val();
            });

            if (isAdvSearch) {
                $("#advanced-search-toggle").click();
            }

            $("#btn-download").on('click', function (e) {
                var btn = $(this);

                btn.button('loading');
                $(".loading").show();
                var href = $(this).attr("href");
                var now = Date.now().toString();
                var new_href = href + "&time=" + now;
                $(this).attr("href", href + "&time=" + now);

                // start timer to wait for cookie
                _tmr = window.setInterval(function () {
                    var _str = 'dlc=' + now;

                    if (document.cookie.indexOf(_str) !== -1) {
                        // hide animation
                        btn.button('reset');
                        $(".loading").hide();
                        window.clearInterval(_tmr);
                        btn.attr("href", href);
                    }
                }, 100);

                window.open(new_href);
                window.focus();
                return false;
            });
        });

        var columns = [];

        function generateSearchResult() {
            var url = "@Url.Action("LoadAdvancedSearch", "Campaign")";
            var shownColumns = 5;

            $.ajax({
                url: url,
                type: "POST",
                datatype: "json",
                data: {
                    'length': '1'
                },
                success: function (data) {
                    //data = JSON.parse(data);
                    columnNames = Object.keys(data.data[0]);
                    for (var i in columnNames) {
                        var cls = i < (shownColumns) ? "all" : "none";

                        columns.push({
                            data: columnNames[i],
                            title: capitalizeFirstLetter(columnNames[i]),
                            className: cls
                        });

                        if (columnNames[i] == "Status") {
                            columns[i].render = function (data, type, row) {

                                return renderCampaignStatus(data);
                            }
                        }
                    }

                    // add new column for action buttons
                    columns.push({
                        data: columnNames[0],
                        title: "Action",
                        className: "all"
                    });

                    console.log(columns);

                    var table = $('#simple-search-list').DataTable({
                        processing: true,
                        serverSide: true,
                        responsive: true,
                        ajax: {
                            url: url,
                            type: "POST",
                            datatype: "json",
                            data: function (d) {
                                d.i = $("#txt-i").val(),
                                d.n = $("#txt-n").val(),
                                d.bu = $("#ddl-bu").val(),
                                d.b = $("#ddl-b").val(),
                                d.ps = $("#txt-ps").val(),
                                d.pe = $("#txt-pe").val(),
                                d.s = $("#ddl-s").val(),
                                d.c = $("#ddl-c").val(),
                                d.ta = $("#ddl-ta").val()
                            }
                        },
                        order: [[0, "desc"]],
                        columns: columns,
                        createdRow: function (row, data, index) {
                            var id = "'" + data[columns[columns.length - 1].data] + "'";
                            var buttons = //'';

                                '<a href="@Url.Action("Details", "Campaign")/' + data[columns[columns.length - 1].data] + '" title="View" class="btn yellow btn-xs">' +
                                '    <i class="fa fa-eye"></i>' +
                                '</a>'
                                ;

                            @{
                                if (role == UserRole.AdminEntry)
                                {
                                    <text>

                                        buttons += '<a href="@Url.Action("Assign", "Campaign")/' + data[columns[columns.length - 1].data] + '" title="Assign" class="btn green-soft btn-xs">' +
                                        '    <i class="fa fa-check-square-o"></i>' +
                                        '</a>';

                                    </text>
                                }
                            }

                            @{
                                if (role == UserRole.AdminSystem || role == UserRole.Admin)
                                {
                                    <text>

                                        // button duplicate
                                        buttons += '<a href="@Url.Action("DuplicateCampaign", "Campaign")/' + data[columns[columns.length - 1].data] + '" title="Duplicate" class="btn blue-steel btn-xs">' +
                                        '    <i class="fa fa-copy"></i>' +
                                        '</a>';

                                        // button edit
                                        buttons += '<a href="@Url.Action("Assign", "Campaign")/' + data[columns[columns.length - 1].data] + '" title="Edit" class="btn green-soft btn-xs">' +
                                        '    <i class="fa fa-pencil"></i>' +
                                        '</a>';

                                        // button remove
                                        buttons += '<a type="button" title="Delete" class="btn red btn-xs" onclick="return Delete(' + id + ');">' +
                                                   '    <i class="fa fa-remove"></i>' +
                                                   '</a>';

                                    </text>
                                }
                            }

                            $('td', row).eq(-1).attr("style", "text-align: center; min-width: 100px");
                            $('td', row).eq(-1).html(buttons);
                        },
                    });
                }

            });
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        //func duplicate
        function Duplicate(id) {
            //alert(id);
            var url = "@Url.Action("DuplicateCampaign", "Campaign")/"+id;
            $.ajax({
                url: url,
                method: 'POST',
                async: true,

                success: function (response) {
                    var opt = "";
                    if (response.status == true) {

                        console.log(response.data);
                        window.location.assign("@Url.Action("Assign","Campaign")/"+response.data)


                    }
                            else {
                        alert("Sory something worng ");
                    }
                },
                error: function (data, status, xhr) {
                    console.log(data + "---" + xhr);
                }
            });
            return false;

        }

        function Delete(id) {
            var isOk = confirm("Are you sure to delete campaign: " + id + "?");

            if (!isOk) {
                return false;
            }

            var url = "@Url.Action("Delete", "Campaign")/"+id;
            $.ajax({
                url: url,
                method: 'POST',
                async: true,

                success: function (response) {
                    var opt = "";
                    if (response.status == true) {

                        console.log(response.data);
                        location.reload();
                    }
                    else {
                        alert("Sory something worng ");
                    }
                },
                error: function (data, status, xhr) {
                    console.log(data + "---" + xhr);
                }
            });
            return false;
        }
    </script>
}